<?xml version="1.0" encoding="UTF-8"?>
<menu>
<item module="objets" title="77" value="76">
	<item module="containerList" title="61" value="60"/>
	<item module="sampleList" title="69" value="68"/>
	<item module="importChange" title="79" value="78" droits="projet"/>
</item>

<item module="storage" title="71" value="70" droits="gestion">
<item module="fastInputChange" title="73" value="72" droits="gestion" />
<item module="fastOutputChange" title="75" value="74" droits="gestion" />
</item>

<item module="parametre" value="50" title="51" droits="consult">
	<item module="projectList" droits="consult" value="64" title="65" />
	<item module="eventTypeList" droits="consult" value="52" title="53" />
	<item module="containerFamilyList" droits="consult" value="54" title="55" />
	<item module="storageConditionList" droits="consult" value="56" title="57" />
	<item module="containerTypeList" droits="consult" value="58" title="59" />
	<item module="objectStatusList" droits="consult" value="62" title="63" />
	<item module="sampleTypeList" droits="consult" value="66" title="67" />
	<item module="labelList" droits="param" value="80" title="81" />
		
</item>
<item module="administration" value="4" title="5" droits="admin">
	<item module="loginList" menulevel="1" menuorder="9" droits="admin" title="3" value="2"/>
	<item module="appliList" droits="admin" value="appliliste" title="applilistetitle"/>
	<item module="aclloginList" droits="admin" value="aclloginliste" title="aclloginlistetitle"/>
	<item module="groupList" droits="admin" value="groupliste" title="grouplistetitle"/>
	<item module="phpinfo" droits="admin" value="phpinfo" title="phpinfotitle"/>
</item>
<item module="connexion" title="connexiontitle" value="connexionvalue" onlynoconnect="1"/>
<item module="disconnect" title="7" value="6" loginrequis="1"/>
<item module="aide" title="helpTitle" value="help">
	<item module="apropos" title="9" value="8"/>
	<item module="quoideneuf" title="41" value="40"/>
	<item module="setlanguagefr" title="frtitle" value="fr"/>
	<item module="setlanguageen" title="entitle" value="en"/>
		
</item>
</menu>