<?php
/** Fichier cree le 4 mai 07 par quinton
 * Renommez le fichier en param.inc.php
 * ajustez les parametres a votre implementation
 * conservez une sauvegarde de ces parametres pour ne pas les perdre
 * lors de la mise en place d'une nouvelle version
 * tous les parametres presents dans param.default.inc.php peuvent etre utilises
 * rename this file to param.inc.php
 * adjust params to your implementation
 * please, backup this file
 * you can use all params from param.default.inc.php
 */
 /*
  * Affichage des erreurs et des messages
  * display errors and messages
  */
$APPLI_modeDeveloppement = false;
$_ERROR_display = 0;
$ERROR_level = E_ERROR ;
$OBJETBDD_debugmode = 0;

/*
 * code de l'application dans la gestion des droits
 */
$GACL_aco = "col";
/*
 * Code de l'application - impression sur les etiquettes
 * Obsolete : a renseigner dans administration > Parametres de l'application
 */
//$APPLI_code = 'laboXX';
/*
 * titre de l'application affiche en haut d'ecran
 * obsolete
 */
//$APPLI_titre = "Collec - labo XX";

/*
 * Mode d'identification
 * BDD : uniquement a partir des comptes internes / internal accounts
 * LDAP : uniquement a partir des comptes de l'annuaires LDAP / LDAP accounts only
 * LDAP-BDD : essai avec le compte LDAP, sinon avec le compte interne / LDAP account, on fail internal account
 * CAS : identification auprès d'un serveur CAS / CAS server only
 */
$ident_type = "BDD";
 /*
  * Adresse du serveur CAS
  * CAS server address
  */
// $CAS_address = "http://localhost/CAS";
/*
 * Parametres concernant la base de donnees
 * Database parameters
 */
$BDD_login = "collec";
$BDD_passwd = "collecPassword";
$BDD_dsn = "pgsql:host=localhost;dbname=collec";
$BDD_schema = "col,gacl,public";

/*
 * Rights management, logins and logs records database
 */
$GACL_dblogin = "collec";
$GACL_dbpasswd = "collecPassword";
$GACL_aco = "col";
$GACL_dsn = "pgsql:host=localhost;dbname=collec";
$GACL_schema = "gacl,public";

/*
 * Lien vers le site d'assistance
 * help site address
 */
//$APPLI_assist_address = "https://github.com/Irstea/collec/issues/new";
/*
 * Adresse d'acces a l'application (figure dans les mails envoyes)
 * URL of software (in send emails)
 */
$APPLI_address = "https://collec.adressecomplete.com";
/*
 * Adresse mail figurant dans le champ expediteur, lors de l'envoi de mails
 * mail sender
 */
$APPLI_mail = "nepasrepondre@collec.adressecomplete.com";
/*
 * Activer l'envoi de mails
 */
//$MAIL_enabled = 1;
/*
 * Activer la fonction de reinitialisation d'un mot de passe perdu
 * identification de type BDD ou LDAP-BDD pour les comptes declares localement
 * necessite que l'envoi de mails soit possible ($MAIL_enabled = 1)
  * activation of reinit lost password function
  * mail send must be activate with $MAIL_enabled = 1
 */
$APPLI_lostPassword = 1;
/*
 * Cles utilisees pour la generation des jetons
 * cryptographics key used for token generation
 */
$privateKey = "param/id_collec";
$pubKey = "param/id_collec.pub";

/*
 * Impression directe vers une imprimante a etiquettes
 * connectee au serveur
 * par defaut, lpr. Si lp, decommenter la ligne
 * direct print to label printer, connected directly to the server
 * by default, lpr.
 */
//$APPLI_print_direct_command = "lp";

/*
 * Configuration LDAP / LDAP configuration
 */
$LDAP ["address" ] = "localhost";
/*
 * pour une identification en LDAPS :
 * port = 636
 * tls = true;
 */
$LDAP ["port" ] = 636;
$LDAP [ "tls"] = true;
/*
 * chemin d'accès a l'identification
 */
$LDAP [ "basedn"] = "ou=people,ou=example,o=societe,c=fr";
$LDAP [ "user_attrib" ] = "uid";
/*
 * Pour une authentification LDAP à un Active Directory
 * avec le User Principal Name (UPN) de la forme sAMAccountName@UPN_Suffix
 * pour ne demander que le sAMAccountName à l'utilisateur
 * alors définir le upn_suffix en décommentant les lignes ci-dessous
 * pour demander l'UPN entier à l'utilisateur
 * alors définir le upn_suffix à une chaîne vide : $LDAP [ "upn_suffix"] = "";
 *
 * For LDAP authentification with Active directory, with User Principal Name (UPN)
 * as sAMAccountName@UPN_Suffix,
 * uncomment theses lines.
 * to request the entire UPN from the user,
 * define upn_suffix as: $LDAP [ "upn_suffix"] = "";
 */
//$LDAP [ "basedn"] = "";
//$LDAP [ "user_attrib" ] = "";
//$LDAP [ "upn_suffix"] = "mydomain.lan";


/*
 * Recherche des groupes dans l'annuaire LDAP
 * Decommenter la premiere ligne pour activer la fonction
 *
 * for research groups in LDAP directory, uncomment the first line
 */
 //$LDAP [ "groupSupport" ] = true;
$LDAP [ "groupAttrib" ] = "supannentiteaffectation";
$LDAP [ "commonNameAttrib" ] = "displayname";
$LDAP [ "mailAttrib" ] = "mail";
$LDAP [ 'attributgroupname' ] = "cn";
$LDAP [ 'attributloginname' ] = "memberuid";
$LDAP [ 'basedngroup' ] = 'ou=group,ou=example,o=societe,c=fr';

/*
 * Chemin d'acces au fichier param.ini
 * Consultez la documentation pour plus d'informations
 * param.ini path. Show doc.
 */
$paramIniFile = "./param.ini";
/*
 * Treatment of param.ini in a multi-databases context (cf. documentation)
 */
//$chemin = substr($_SERVER["DOCUMENT_ROOT"],0, strpos($_SERVER["DOCUMENT_ROOT"],"/bin"));
//$paramIniFile = "$chemin/param.ini";

/*
 * Parametres SMARTY complementaires, charges systematiquement
 * Ne pas modifier !
 * SMARTY params
 * don't change theses lines!
 */
$SMARTY_variables["melappli"] = $APPLI_mail;
$SMARTY_variables["ident_type"] = $ident_type;
$SMARTY_variables["appliAssist"] = $APPLI_assist_address;
?>
